@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav-item {
    list-style: none;
    margin-right: 34px;
}


.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.nav-item:hover {
    cursor: pointer;
    color: #00ff88;
    transform: scale(1.1);
    transition: transform 0.3s;
    font-weight: 700;


}

.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-around;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
    color: white;
    padding: 10px;
}

.hamburger-menu {
    display: none;
    width: 30px;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(87.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
    background: linear-gradient(87.64deg, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1), rgba(247, 233, 63, 1));
    transform: scale(1.05);
    transition: transform 0.5s, background 0.5s;
}

.hero-image {
    width: 100%;
}

.text-flex {
    display: flex;
}

.text-color {
    color: rgba(255, 255, 255, 0.8);
}

.paragraph-top {
    margin-top: 20px;
}

.bg-light {
    display: inline;
}

.banner {
    position: relative;
    background: url('../assets/hero-bg.png') no-repeat center center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 550px;
    padding: 40px 20px;
}

.hero-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.hero-circle {
    width: 300px;
    height: 300px;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
}

.new-badge {
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #00ff88;
    color: #1a0b2e;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
}

.banner-brand {
    color: white;
    font-size: 3rem;
    margin-bottom: 15px;
}

.banner-brand-text {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}

.banner-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.banner-buttons button img {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #00ff88;
    color: #00ff88;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary:hover {


    transform: scale(1.05);
    transition: transform 0.5s, color 0.5s;
}

.podcast {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: rgba(26, 11, 46, 1);
}

.podcast-title {
    color: white;
    font-size: 3rem;
}

.podcast-details {
    text-align: center;
    font-size: 1.1rem;
    max-width: 1200px;
    margin: 0 auto;

}

.podcast-numbers {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding-bottom: 40px;
    color: #00ff88;
    max-width: 1200px;
    margin: 0 auto;

}



.podcast-number-item h3 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;

}

.podcast-number-item {
    text-align: center;
}

#star h3 {
    margin-bottom: 9px;
}

.podcast-number-item p {
    font-size: 1rem;
    color: white;
}

.line hr {
    width: 80%;
    max-width: 1200px;
    margin: 60px auto;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer {
    background: url('../assets/footer-bg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.footer-brand {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.footer-brand:hover {
    cursor: pointer;
    color: #00ff88;
    transform: scale(1.02);
    transition: transform 0.5s;
}

.footer-brand span {
    background: linear-gradient(to right, #fb923c, #db2777, #9333ea);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
}

.social-item:hover {
    color: #00ff88;
    transform: scale(1.2);
    transition: transform 0.5s;
    cursor: pointer;
    font-weight: 600;
}

.social-item img {
    width: 20px;
}


.choose-section {

    padding-top: 120px;
    padding-bottom: 120px;

    background-color: rgba(35, 14, 61, 1);
    color: white;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: left;
}


.card {

    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: rgba(53, 17, 101, 0.4)
}

.card img {
    width: 40px;
}

.card h2 {
    margin: 15px 0;
    font-size: 1.5rem;
}

.card p {
    color: #b0a3c4;
    line-height: 1.5;
}


.premium {
    grid-row: span 2;

}

.mobile-friendly,
.global {
    grid-column: span 2;
}

.exclusive {
    grid-column: span 2;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(53, 17, 101, 0.8);
    transform: scale(1.019);
    transition: transform 0.4s, background-color 0.4s;

}

.host-socials {
    justify-content: center;
    gap: 20px;
}

.featured {
    background-color: rgba(26, 11, 46, 1);
    padding: 120px 200px;
}

.featured-episodes {
    margin-bottom: 120px;
}

.featured-episodes .section-title {
    text-align: center;
    color: white;
}

.episode-cards {
    display: flex;
    gap: 20px;
}

.episode-card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 15px;

    width: 100%;
}

.episode-card:hover {

    background-color: rgba(53, 17, 101, 0.8);
    transform: scale(1.019);
    transition: transform 0.4s, background-color 0.4s;

}


.episode-card .episode-title,
.episode-description,
.duration {
    padding-left: 20px;
    padding-right: 15px;
}


.episode-image {
    position: relative;
    margin: 15px;
}

.episode-image>img {
    width: 100%;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.play-circle {
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.episode-title {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.episode-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.duration {
    padding-top: 10px;
    gap: 8px;
    padding-bottom: 15px;
}

.episode-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.duration img {
    width: 16px;
    height: 16px;
}

.duration-text {
    color: #00ff88;
    font-size: 0.9rem;
}


.meet-host {
    padding-top: 120px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.host-brand {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.host-details {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgba(35, 14, 61, 1);
    border-radius: 30px;
    padding: 40px;
}

.host-details img {
    width: 200px;
    border-radius: 15px;
}

.host-name {
    color: white;
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.host-background {
    font-size: 1rem;

}

.host-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.host-socials .social-item {
    background-color: rgba(53, 17, 101, 0.6);
    padding: 10px;
    border-radius: 50%;
}

.host-socials .social-item:hover {
    background-color: rgba(53, 17, 101, 1);
}

@media screen and (max-width: 576px) {

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar {
        justify-content: space-between;
        padding: 15px 20px;


    }

    .banner {
        min-height: auto;
        padding: 40px 20px;
    }

    .banner-content {
        position: static;
        transform: none;
        margin: 0 auto;
        margin-top: 30px;
        padding: 20px;
    }

    .hero-circle {
        width: 150px;
        height: 150px;
    }

    .microphone {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
    }


    .hero-icon {
        margin-bottom: 20px;
    }

    .banner-brand {
        font-size: 2rem;
    }

    .banner-brand-text {
        font-size: 0.9rem;
        padding: 0 10px;
    }

    .banner-buttons {
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
    }

    .new-badge {
        top: 0;
        right: 0;
        padding: 4px 12px;
        font-size: 0.7rem;
    }

    .podcast {
        padding: 20px;
        font-size: 0.8rem;
    }

    .podcast-title {
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 10px;
    }

    .podcast-details {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 25px;
    }

    .podcast-numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .line hr {
        margin: 30px auto;

    }

    .podcast-number-item h3 {
        font-size: 2.1rem;
    }

    .podcast-number-item p {
        font-size: 0.9rem;
    }

    .footer-socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .social-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: white;
        font-size: 0.9rem;
    }

    .footer-brand {
        margin-top: 10px;
        font-size: 2.5rem;

    }

    .footer-brand:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.5s;
    }

    .social-item:hover {
        color: #00ff88;
        transform: scale(1.2);
        transition: transform 0.5s;
        cursor: pointer;
        font-weight: 600;
    }

    .choose-section {

        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .premium,
    .mobile-friendly,
    .global,
    .exclusive,
    .resources {
        grid-column: span 1;
        grid-row: span 1;
    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .featured {
        padding: 40px 20px;
    }

    .featured-episodes {
        margin-bottom: 60px;
    }

    .episode-cards {
        flex-direction: column;
    }

    .meet-host {
        padding-top: 60px;
    }

    .host-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .host-socials {
        justify-content: center;
    }

    .host-brand {
        font-size: 2rem;
        font-weight: 700;
    }

    .host-image:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
        cursor: pointer;
    }

    .episode-card:hover {
        background-color: rgba(53, 17, 101, 0.8);
        transform: scale(1.01);
        transition: transform 0.4s, background-color 0.4s;

    }

}